[Unit]
Description=http server

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
User=root
ExecStart=/usr/bin/python3 /home/nvidia/mqtt_ws/src/mqtt/server/server.py
ExecReload=/usr/bin/python3 /home/nvidia/mqtt_ws/src/mqtt/server/server.py

[Install]
WantedBy=multi-user.target
